{% extends "base.html" %}
{% block main_content %}
    <section id="catalogue">
        {% if not object_list %}
            <p class="no-articles">No cars yet</p>
        {% else %}
            <h1>Total cars: {{ object_list.count }}</h1>

            {% for car in object_list %}

            <div class="car-card">
                <div class="image-wrap">

                    <img
                            src="{{ car.image_url }}"
                            alt="Rally"
                    />
                </div>

                <h3>{{ car.type }}</h3>

                <h1>{{ car.model }}</h1>
                <div class="details-buttons">

                    <a href="{% url "details_car" pk=car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}


    </section>
{% endblock %}

